/* Deafult style */
.grid-container {
    gap: 10px;
    max-width: 800;
    margin: 0, auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.navbar li {
    flex: 1;
}

.navbar a{
    display: block;
    padding: 10px;
    text-align: center;
}

.grid-container aside {
    padding: 20px;
    margin: 10px, auto;
    border: 1px solid black;
    grid-column: 1 / span 1;
}

.grid-container main {
    padding: 20px;
    margin: 10px, auto;
    border: 1px solid black;
    grid-column: span 3;
}

/* Media query for responsive layout */
@media (max-width: 500px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    aside, main {
        width: auto;
    }

    header {
        padding: 10px;
    }

    .navbar li {
        margin: 10px;
    }
}